.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts-list {
  width: 450px;
}
.listItem {
  border: 1px solid #dedede;
  border-radius: 10px;
  list-style-type: none;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}